@model WebBanDongHo.Model.Account

@{
    ViewData["Title"] = "Role Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h1 style="color:beige">DETAILS</h1>
 <dl style="color:azure" class="dl-horizontal">
        <dt>
                            @Html.DisplayNameFor(model => model.AccountId)
        </dt>
        <dd>
                            @Html.DisplayFor(model => model.AccountId)
        </dd>
        <dt>
                            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
                            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
                            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
                            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
                            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
                            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
                            @Html.DisplayNameFor(model => model.Salt)
        </dt>
        <dd>
                            @Html.DisplayFor(model => model.Salt)
        </dd>
        <dt>
                            @Html.DisplayNameFor(model => model.Ative)
        </dt>
        <dd>
                            @Html.DisplayFor(model => model.Ative)
        </dd>
        <dt>
                            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
                            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
                            @Html.DisplayNameFor(model => model.LastLogin)
        </dt>
        <dd>
                            @Html.DisplayFor(model => model.LastLogin)
        </dd>
        <dt>
                            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
                            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
                            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
                            @Html.DisplayFor(model => model.Role.RoleId)
        </dd>
    </dl>
    <div>
    <a asp-action="Edit" asp-route-id="@Model.AccountId">Edit</a> 
    <a asp-action="Index">Back to List</a>
</div>


                </div>
            </div>
        </div>
    </div>
</div>


