@using PagedList.Core.Mvc

@model PagedList.Core.IPagedList<WebBanDongHo.Model.Product>


@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách khách hàng" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <div class="product-status mg-b-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap">
                        <h4>Account List</h4>
                         <div class="col-lg-20">
                                <div class="d-md-flex">
                                    <div class="m-b-10 m-r-15">
                                        <select class="custom-select" id="txtCatID" name="txtCatID"
                                            style="min-width: 216px;min-height: 34px;" asp-items="ViewBag.DanhMuc">
                                            <option selected>Chọn danh mục</option>
                                            <option value="0">Chọn tất cả</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                        <div style="margin:10px 0 0 0; " class="row m-b-50">
                            <div class="input-affix m-v-10">
                            
                                <input  id="keyword" name="keyword" type="text" class="form-control" 
                                    placeholder="Tìm kiếm sản phẩm">
                                 
                            </div>
                        </div>

                        <div class="row m-b-30">


                           

                        </div>
                        <div class="add-product">
                            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Create">Add Account</a>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Tên Sản Phẩm
                                    </th>

                                    <th>
                                        Giá
                                    </th>

                                    <th>
                                        Danh Mục
                                    </th>
                                    <th>
                                        Tồn Kho
                                    </th>
                                    <th>
                                        Trạng Thái
                                    </th>
                                    <th>
                                        Setting
                                    </th>

                                </tr>
                            </thead>
                            <tbody id="records_table">
                            @if (Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                        <tr>
                                            <td>
                                            @Html.DisplayFor(modelItem => item.ProductId)
                                            </td>
                                            <td>
                                            @Html.DisplayFor(modelItem => item.ProductName)
                                            </td>
                                            <td>
                                            @item.Price.Value.ToString("#,##0") VND
                                            </td>
                                            <td>
                                            @Html.DisplayFor(modelItem => item.Cate.CatName)
                                            </td>
                                            <td>
                                            @Html.DisplayFor(modelItem => item.UnitslnStock)
                                            </td>


                                            <td>
                                            @if (item.UnitslnStock != null)
                                            {
                                                    <div>in stock</div>
                                            }
                                            else
                                            {
                                                    <div>non-stock</div>
                                            }
                                            </td>

                                            <td>
                                                <a style="padding:5px" data-toggle="tooltip" title="Detail" asp-area="Admin"
                                            asp-controller="AdminProducts" asp-action="Details"
                                            asp-route-id="@item.ProductId"><i class="fa-solid fa-eye"></i></a>
                                                <a style="padding:5px" data-toggle="tooltip" title="Edit" asp-area="Admin"
                                            asp-controller="AdminProducts" asp-action="Edit"
                                            asp-route-id="@item.ProductId"><i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a style="padding:5px" data-toggle="tooltip" title="Delete"
                                            class="pd-setting-ed" asp-area="Admin" asp-controller="AdminProducts"
                                            asp-action="Delete" asp-route-id="@item.ProductId"><i
                                                class="fa fa-trash-o"></i></a>

                                            </td>
                                        </tr>
                                }
                            }

                            </tbody>


                        </table>
                        <div class="custom-pagination">
                            <ul class="pagination">
                                <pager class="pager-container" list="@Model" asp-area="Admin"
                                    asp-controller="AdminProducts" asp-route-CatID="@ViewBag.CurrentCateID"
                                    asp-action="Index" />
                            </ul>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
@section Scripts{
    <script>
        $(document).ready(function () {
            jQuery("#txtCatID").change(function () {
                var catID = jQuery(this).children(":selected").attr("value");
                catID = parseFloat(catID);
                $('#txtCatID option')
                    .removeAttr('selected');
                $("#txtCatID > [value=" + catID + "]").attr("selected", "true");
                $.ajax({
                    url: '/Admin/AdminProducts/Filtter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        CatID: catID
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });

            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '/Admin/Search/FindProduct/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    //error: function (xhr) {
                    //    alert('error');
                    //}
                });
            });
        });
    </script>

}